body{
    font-family: tahoma;
}

header{
    height: 50px;
    width: 100%;
    padding: 0 10px;
    background: var(--linear-navy-blue );
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
}

.logoContainer{
    position: relative;
}

h2{
    display: inline;
}

.logo{
    position: absolute;
    left: 130px;
    bottom: 2px;
    font-size: 35px;
}

nav{
    width: 30%;
    max-width: 350px;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    height: 100%;
}

nav > ul > li{
    display: block;
}

